<app-header></app-header>
<app-sidebar></app-sidebar>
<!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">
					<em class="fa fa-bar-chart"></em>
				</a></li>
			<li class="active">Add Playlist</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Add Playlist</h1>
		</div>
  </div>


  <p-table [value]="songs">
	<ng-template pTemplate="header">
		<tr>
			<th>Tittle</th>
			<th>Link</th>
			<th>Created by</th>
			<th>Option</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-songsData>
		<tr>
			<td>{{songsData.title}}</td>
			<td>{{songsData.url}}</td>
			<td>{{songsData.artist.firstName}}</td>
			<td></td>
		</tr>
	</ng-template>
</p-table>



	<app-footer></app-footer>
	<!--/.row-->
</div>