<div class="row">
		<p class="green" *ngIf="passwordSucess" >Pasword Successfull changed,<a routerLink=""> login</a> </p>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
		
		<div class="login-panel panel panel-default">
			<div *ngIf="allgood">
        <div class="panel-heading">Forgot password</div>
				<div class="panel-body">
					<form [formGroup]="forgotPassForm" novalidate (ngSubmit)="onSubmit()" role="form">
						<fieldset>

								<div class="row form-group">
										<div class="col col-md-12">
											<input type="password" formControlName="password" class="form-control placeholder-size" placeholder="Password">
											<div *ngIf="forgotPassForm.controls['password'].errors && (forgotPassForm.controls['password'].dirty || forgotPassForm.controls['password'].touched)">
												<span class="redxx" *ngIf="forgotPassForm.controls['password'].errors.required">
													password is required.
												</span>
												<span class="redxx" *ngIf="forgotPassForm.controls['password'].errors.pattern">
													Password must be at least 8 characters, and must include at least one numeric digit one upercase alphabet.
															</span>
											</div>
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-12">
											<input type="password" formControlName="cpassword" class="form-control placeholder-size" placeholder="Confirm Password">
											<div *ngIf=" forgotPassForm.controls['cpassword'].dirty || forgotPassForm.controls['cpassword'].touched">
												<span  class="redxx" *ngIf="forgotPassForm.controls['cpassword'].errors?.required">
													confirm password is required.
												</span>
			
												<span class="redxx"  *ngIf="forgotPassForm.controls['password'].valid  && forgotPassForm.errors?.mismatch">
													password mismatch.
												</span>
											</div>
										</div>
									</div>

							<div class="row form-group">
								<div class="col col-md-6">
									<button type="submit" data-size="l" type="submit" class="btn btn-primary" [disabled]="forgotPassForm.invalid">Send</button>
								</div>
							</div>


						</fieldset>

					</form>
					<div>
						<a (click)=loginAgain()>Back to Login</a>
					</div>
				</div>



			</div>


			
				

			</div>
			
		</div><!-- /.col-->
		<div class="middd" *ngIf="someerror">
				<h3><p class="redxx"> <strong> Some error Please wait for a minute or try again</strong></p></h3>
			</div>	
	</div><!-- /.row -->
	
	