/* .active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid blue;
    box-shadow: 0 1px 0 0 #4dd0e1;
    } */
    .form-control-borderless {
        border: none;
    }
    
    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }