<app-header></app-header>
<app-sidebar></app-sidebar>
<!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">
					<em class="fa fa-music"></em>
				</a></li>
			<li class="active">Add Song</li>
		</ol>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Add Song</h1>
		</div>
	</div>


	<div class="container">
		<form class="form-horizontal" [formGroup]="addSongForm" novalidate (ngSubmit)="onSubmit()">

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Song Title:</label>
				<div class="col-sm-10">
					<input formControlName="title" id="input" type="text" size="30" placeholder="Girl like you" pInputText>


					<div *ngIf="addSongForm.controls['title'].errors && (addSongForm.controls['title'].dirty || addSongForm.controls['title'].touched)">
						<span class="redxx" *ngIf="addSongForm.controls['title'].errors.required">
							title is required.
						</span> </div>
				</div>



			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="url">Song Url:</label>
				<div class="col-sm-10">
					<input formControlName="url" id="input" type="text" size="30" placeholder="https://youtu.be/aJOTlE1K90k"
					 pInputText>


					<div *ngIf="addSongForm.controls['url'].errors && (addSongForm.controls['url'].dirty || addSongForm.controls['url'].touched)">
						<span class="redxx" *ngIf="addSongForm.controls['url'].errors.required">
							Song url is required.
						</span> </div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Song Rating:</label>
				<div class="col-sm-offset-2 col-sm-10">
					<p-rating [cancel]="false" (onRate)="handleRate($event)"></p-rating> <span *ngIf="msg" style="margin-left:10px">{{msg}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button [disabled]="addSongForm.invalid" type="submit" class="btn btn-primary">Add Song</button>
				</div>
			</div>
		</form>
	</div>







	<app-footer></app-footer>
	<!--/.row-->
</div>